body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: white;
    width: 300px;
    padding: 30px;
    margin: 15% auto;
    border-radius: 10px;
    position: relative;
}

#closeBtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}