*{
    margin: 0;
    padding: 0;
}

body{
    background:  rgb(219, 226, 239);
    color: rgb(17, 45, 78);
}


.main-container{
    background-color: rgb(167, 188, 227);
    width: 1110px;
    height: 450px;
    margin: 50px 0px 0px 80px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    height: 370px;
}

h1{
    margin: 60px 0px 20px 40px;
    color: 3F72AF;
}

h3{
    margin: 0px 0px 30px 30px;
}

article{
    margin: 0px 0px 70px 30px;
}

.icons{
    width: 20px;
    margin-right: 5px;
}

.icons:hover{
    cursor: pointer;
}

.email-part{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-left: 30px;
    margin-bottom: 20px;
}

.other-contacts{
    margin-left: 50px;
}


.input-title{
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 40px;
    margin-top: 120px;
}

.name-box{
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 40px;
    margin-top: 5px;
    margin-bottom: 10px
}

#first-name, #last-name, #email{
    outline: none;
    height: 18px;
}

label{
    display: block;
}

#email, #message{
    width: 340px;
}

#message{
    display: block;
    margin-bottom: 5px;
    height: 70px;
    outline: none;
    padding: 5px;
    resize: none;
}

#sendBtn{
    background-color: rgb(255, 145, 55);
    border: none;
    margin-left: 270px;
    padding: 3px 20px;
}

#sendBtn:hover{
    cursor: pointer;
    background-color: rgba(255, 145, 55, 0.651);
}

#sendBtn:active{
    cursor: pointer;
    background-color: rgb(255, 204, 77);
}

a{
    text-decoration: none;
}


@media (max-width: 768px){
    .main-container{
        background-color: rgb(167, 188, 227);
        width: 700px;
        height: 450px;
        margin: 50px 40px 0px 30px;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 700px;
        height: 370px;
    }

    .fill-up{
        padding-right: 10px;
    }
}

@media (max-width: 500px){
    .main-container{
        background-color: rgb(167, 188, 227);
        width: 470px;
        height: 480px;
        margin: 30px 20px 0px 20px;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 460px;
        height: 370px;
    }

    h1{
        margin: 30px 0px 20px 30px;
        color: 3F72AF;
        font-size: 25px;
    }

    h3{
        margin: 0px 0px 30px 30px;
        font-size: 18px;
    }

    article{
        margin: 0px 0px 60px 30px;
        font-size: 14px;
    }

    .icons{
        width: 20px;
        margin-right: 5px;
    }

    .email-part{
        display: grid;
        grid-template-columns: 30px 1fr;
        margin-left: 10px;
        margin-bottom: 30px;
        font-size: 14px;
    }

    .other-contacts{
        margin-left: 30px;
    }

    .fill-up{
        padding-left: 5px;
    }

    .input-title{
        display: grid;
        grid-template-columns: 115px 115px;
        grid-gap: 10px;
        margin-top: 90px;
    }

    .name-box{
        display: grid;
        grid-template-columns: 115px 115px;
        grid-gap: 10px;
        margin-top: 5px;
        margin-bottom: 10px
    }

    #first-name, #last-name, #email{
        outline: none;
        height: 16px;
    }

    label{
        display: block;
        font-size: 14px;
    }

    #email, #message{
        width: 230px;
        margin-bottom: 5px;
    }

    #message{
        display: block;
        margin-bottom: 5px;
        height: 70px;
        outline: none;
        padding: 5px;
        resize: none;
    }

    #sendBtn{
        background-color: rgb(255, 145, 55);
        border: none;
        margin-left: 170px;
        padding-top: 5px;
        font-size: 12px;
    }
}